@font-face {
  font-family: "MillerBanner";
  src: url("../fonts/millerbanner.otf") format("opentype");
  src: url("../fonts/MillerBanner-Light.eot");
  src: url("../fonts/MillerBanner-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MillerBanner-Light.woff2") format("woff2"),
    url("../fonts/MillerBanner-Light.woff") format("woff"),
    url("../fonts/MillerBanner-Light.ttf") format("truetype"),
    url("../fonts/MillerBanner-Light.svg#svgFontName") format("svg");
}

body {
  background-color: #f9f9f9;
}

.custom svg path {
  stroke: #fff;
}
